@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Chivo:700');

body{
	padding: 0px;
	margin: 0px;
	background-color: #FAF22F; 
	font-family: Avenir, "Helvetica Neue", Helvetica, Arial, "sans-serif";		
}

/* style global */

h1, h2
{
	font-family: 'Chivo', sans-serif;
}

/* header */

.site-header
{
	
}

/* section */

.section
{
	
}

/*nav*/


.wrap
{
	display:table;
	width: 100%;
	height: 100%;
}

.icon-wrapper
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.icon
{
  position: relative;
  width: 60px; height: 50px;
  display:inline-block;
  cursor:pointer;
}


.bar
{
  width: 60px; height: 5px;
  background-color: #fff;
  margin: 5px 0;
  position:absolute;
}

.icon .bar.one {top: 0; left: 0; }
.icon .bar.two {top: 10px; left: 0; }
.icon .bar.three {top: 20px; left: 0; }

.icon .bar.one.active
{
	animation: one 1s forwards
}
.icon .bar.two.active
{
	animation: two 1s forwards
}
.icon .bar.three.active
{
	animation: three 1s forwards
}

.icon .bar.one.notActive {animation: one-reverse 1s forwards;}
.icon .bar.two.notActive {animation: two-reverse 1s forwards;}
.icon .bar.three.notActive {animation: three-reverse 1s forwards;}

@keyframes one
{
	0% {top:0;}
	30% {top:-5px}
	60% {top:10px}
	80% {transform: rotate(0)}
	100% {top:10px; transform: rotate(45deg);}
}

@keyframes one-reverse
{
	0% {top:10px; transform: rotate(45deg);}
	30% {transform: rotate(0)}
	60% {top:10px}
	80% {top:-5px}
	100% {top:0;}
}

@keyframes two
{
	0% {opacity:1;}
	80% {opacity:1;}
	100% {opacity:0;}
}


@keyframes two-reverse
{
	0% {opacity:0;}
	80% {opacity:1;}
	100% {opacity:1;}
}

@keyframes three
{
	0% {top: 20px; }
	30% {top: 25px; }
  60% {top: 10px; }
	80% {transform: rotate(0)}
	100% {top: 10px; transform: rotate(-45deg);}
}

@keyframes three-reverse
{
	0% {top: 10px; transform: rotate(-45deg);}
	30% {transform: rotate(0); }
  60% {top: 10px; }
	80% {top: 25px;}
	100% {top: 20px; }
}

label
{
  cursor: pointer;
}
#menu-toggle
{
  display: none; /* hide the checkbox */
}
#menu
{
  display: none;
}
#menu-toggle:checked + #menu
{
  display: block;
}


