/*nav*/


.main-nav
{
  position: fixed;
  top: 2em;
  top: 0px;
  left: 0px;
/*  border: 1px solid red;
*/	width: 100%;
  width: 100vw;
/*	max-width: 80em;
*/	z-index: 2;
  
 /* left: -16px;
  top: -16px;*/
  margin: 0;
  padding: 0;
}

.menu-nav a:link
{
	font-size: 3em;
}

.main-nav > label {
  position: fixed;
}

.menu {
	background-color: #fff;
	width: 100%;
/*	border: 1px solid blue;
*//*	margin-left: -1em;*/
	z-index: 1;
	padding: 0;
  margin: 0;
	overflow-y: auto;
	height: 100vh;
}

.menu-tasks {
	display: grid;
	padding: 0;
	grid-template-columns: 1fr;
}

@media screen and (min-width: 600px)
{
	.menu-tasks
	{
		grid-template-columns: 1fr 1fr;
	}	
}

@media screen and (min-width: 900px)
{
	.menu-tasks
	{
		grid-template-columns: 1fr 1fr 1fr;
	}	
}

@media screen and (min-width: 1100px)
{
	.menu-tasks
	{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}	
}

.menu-tasks li
{
	display: block;
	text-align: center;
	padding: 2em;
	/*width: 3em;
	height: 3em;*/
/*	border: 1px solid yellow;
	background-color: #86F9FF;*/
}

.menu-tasks ul, 
.menu-tasks img
{
	width: 5em;
	height: 5em;
}



.menu-tasks a
{
	display: block;
	font-size: 1.3em;
	font-weight: 800;
	min-height: 1.5em;
	margin-top: 0.1em;
	padding: 0.5em;

  border: 1px solid #fff;
  box-shadow: inset 0px 0px 20px 17px white;
  background-color: #fff;
  border-radius: 100%;
}


.menu-tasks a:link
{
	color: black;
	text-decoration: none;
}

.menu-tasks a:visited
{
	color: black;
	text-decoration: none;
}

.menu-tasks a:hover
{
  text-shadow: 0px 0px 15px yellow;
	text-decoration: none;
	background-color: #ffff88;
}

.menu-tasks a:active
{
	color: white;
}

/* Menu Titles */

.menu h2 {
  text-align: center;
}

.menu-title {
  display: block;
  text-align: center;
}

/* Menu Best-of */

.menu-best img {
  margin-bottom: 0.7em;
}

.menu-best .outil {
  font-size: 1.3em;
  font-weight: 800;
  margin-top: 0.3em;
}

/* Hamburger Icon */

.icon
{
  position: relative;
  width: 60px; 
  height: 50px;
  display: inline-block;
  cursor: pointer;
  margin: 1em 0 0 1em;
}

.bar
{
  width: 30px; 
  height: 3px;
  background-color: black;
  margin: 0px 0;
  position: absolute;
  transition: all 0.2s linear;
}

.icon .bar.one {top: 0; left: 0; }
.icon .bar.two {top: 7px; left: 0; }
.icon .bar.three {top: 14px; left: 0; }


@media screen and (min-width: 600px) {
	.bar
	{
		width: 50px; 
		height: 5px;
  	margin: 14px 0; 
	}
	
	.icon .bar.two 
	{
		top: 10px; left: 0; 
	}
	
	.icon .bar.three 
	{
		top: 20px; left: 0; 
	}

}
 
/*
 Etat Actif
*/

.active .icon .bar.one
{
	top: 10px; transform: rotate(45deg);
}
.active .icon .bar.two
{
	opacity: 0;
}
.active .icon .bar.three
{
	top: 10px; transform: rotate(-45deg);
}

label
{
  cursor: pointer;
}
#menu-toggle
{
  display: none; /* hide the checkbox */
}
#menu
{
  display: none;
}
#menu-toggle:checked + #menu
{
  display: block;
}


/* Credits */

.credits-list img {
    width: 100%;
    height: auto;
} 

.credits-list .nom {
  font-size: 1.5em;
  margin-top: 0.3em;
}

.credits .menu-tasks li {
/*  padding: 0;
*/}
